<h1>Seja bem vindo</h1>
<h1>Vander Quintanilha</h1>
<p> A soma é : <%= 1 + 1 =%> </p>
<p> Seu nome de tras para frente é: <%= "Vander".reverse=%> </p>
<% a= "minha variavel" %>
<p> Imprimrndo a variavel: <%= a =%> </p>
<p> A data de hoje é: <%= Date.today %> </p>

<ul>
  <li>
    <a href="www.google.com.br">Google</a>
  </li>
  <li>
   <%= link_to "Home" , "/welcome"%>
  </li>
   <br>
    <img src="https://img.ibxk.com.br/2018/08/29/29194642940337.jpg?w=1120&h=420&mode=crop&scale=both" width="500px" height="400px" />


</ul>


